@font-face {
    font-family: Coolvetica;
    src: url(resources/Coolvetica.woff2);
}

:root {
    --title-background: #6f9c7d;
    --window-border: #4c6e58;
    --white: #fff;
    --apagado: #0000008c;
}

html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #d4ddd1 0%, #f1f3ef 100%);
    width: 100%;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header */

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction h1 {
    font-family: Coolvetica;
    font-size: 42px;
    margin: 10px 0 0;
    color: var(--white);
    -webkit-text-stroke: 4px #272626;
    paint-order: stroke fill;
    text-shadow: 3px 3px 2px rgba(84, 88, 81, 0.212);
}

.introduction img {
    width: 80px;
    image-rendering: pixelated;
    margin-top: 25px;
}

/* window stuff (main) */

.window-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 0;
}

.window-title {
    width: 50%;
    padding: 0 20px;
    background-color: var(--title-background);
    border: 2px solid var(--window-border);
    color: var(--white);
}

.window-title h1 {
    font-size: 13px;
    text-align: center;
}

.window-body {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 50%;
    min-height: 600px;
    background-color: var(--white);
    border: 2px solid var(--window-border);
    border-top: 0;
    padding: 4px 20px;
}

.window-body > * {
    margin: 0;
}

.window-body-start {
    margin-top: 11px;
}

.window-body-end {
    margin-top: auto;
    margin-bottom: 11px;
}

.window-body p {
    font-size: 11px;
}

.window-body p img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.window-body p a {
    color: #4c6e58;
    text-decoration: none;
}

.window-body p a:hover {
    color: #6f9c7d;
    text-decoration: underline;
}

.window-body ul {
    margin: 0;
}

.window-body ul li::marker { 
    color: #4c6e58;
}

.window-body ul li {
    list-style-type: square;
    font-size: 11px;
}

.window-title, .window-body, .introduction img {
    box-shadow: 3px 3px 8px rgba(0,0,0,0.15);
}

/* pobre footer */

.end {
    text-align: center;
    font-size: 10px;
}

.end p {
    color: var(--apagado);
    margin-top: 0;
}

.end p a {
    color: #4c6e58;
}

.end p a:hover {
    color: #6f9c7d;
}